<div>
  <form class="form-horizontal" id="login" name="login" action="login" method="POST">
    <fieldset>
      <legend>Member Sign In <span class="pull-right">Not a member? <a href='/account/register'>Register</a><span></legend>
      <div class="control-group">
        <label class="control-label" for="email">Email: </label>
        <div class="controls">
          <input id="email" name="email" required type="email" title="Email is Required!"  />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password: </label>
        <div class="controls">
          <input id="password" name="password" required type="password" title="Password is Required!"  />
        </div>
      </div>
       <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input id="rememberMe" name ="rememberMe" type="checkbox">
              Remember me on this computer
            </label>
          </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Login</button>
        <a href="/" class="btn">Cancel</a>
      </div>
    </fieldset>    
  </form>
</div>