<!-- TODO: change url of image -->
<div>
	<form class="form-horizontal nexus-post-form" id="register" name="register" action="account/register" method="POST">
	    <fieldset>
	      	<legend>Register</legend>
	      	<div id="infoText" name="infoText"></div>
	      	<div class="control-group">
	        	<label class="control-label" for="firstName">First Name: </label>
	        	<div class="controls">
	          		<input id="firstName" name="firstName" required class="span2" type="text" title="First Name is Required!"  />
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label" for="lastName">Last Name: </label>
	        	<div class="controls">
	          		<input id="lastName" name="lastName" required class="span2" type="text" title="Last Name is Required!"  />
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label" for="email">Email: </label>
	        	<div class="controls">
	        		<div class="input-prepend">
		        		<span class="add-on"><i class="icon-envelope"></i></span><input id="email" name="email" required type="email" title="Email is Required!" />
		          	</div>
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label" for="birthDate">Birth Day: </label>
	        	<div class="controls">
	          		<input id="birthDate" name="birthDate" data-format="yyyy-MM-dd" class="span2" required type="date" title="Birth Date is Required!"  />
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label" for="jobRole">Job Role: </label>
	        	<div class="controls">
	          		<select id="jobRole" name="jobRole" data-source='jobRoles' class="span2" />
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label" for="last_name">Password: </label>
	        	<div class="controls">
	          		<input id="password" name="password" class="span2" required type="password" title="Password is Required!" />
	        	</div>
	      	</div>
	      	<div class="control-group">
	        	<label class="control-label" for="last_name">Confirm Password: </label>
	        	<div class="controls">
	          		<input id="confirmPassword" name="confirmPassword" required class="span2" type="password" title="Confirm Password is Required!"  />
	        	</div>
	      	</div>
	      	<div class="control-group">
		        <div class="controls">
		            <label class="checkbox">
		              <input id="acceptTAndC" name ="acceptTAndC" type="checkbox" required />
		              I have read and accept Terms of Use.
		            </label>
		    	</div>
		    </div>
	      	<div class="form-actions">
	        	<button class="btn btn-primary" type="submit">Login</button>
	        	<button class="btn">Cancel</button>
	      	</div>
	    </fieldset>    
	</form>
</div>
